/* Global */
body{
  font-size: 1.6rem;
}

.header {
  display: flex;
  justify-content: center; /* Centraliza o conteúdo no eixo horizontal */
  align-items: center; /* Centraliza o conteúdo no eixo vertical */
  background-color: #6C0DBF; /* Exemplo de cor de fundo */
  color: white;
  text-align: center;
  padding: 10px;
  font-size: 18px;
  position: fixed; /* Define o posicionamento relativo para posicionar absolutamente o botão de voltar */
  top: 0; /* Ajusta o cabeçalho no topo da viewport */
  left: 0;
  right: 0; /* Estende o cabeçalho por toda a largura da tela */
  z-index: 1000; /* Garante que o cabeçalho fique acima de outros elementos */
}

.btnBack {
  background: none;
  border: none;
  color: white;
  font-size: 20px; /* Ajuste o tamanho conforme necessário */
  position: absolute; /* Posiciona o botão de voltar absolutamente */
  top: 50%;
  transform: translateY(-50%); /* Desloca o botão para cima por 50% da sua altura, centralizando-o verticalmente */
  left: 20px; /* Posiciona o botão de voltar a 10px do lado esquerdo */
  cursor: pointer;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.btnBack:hover {
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.5); /* Adiciona uma sombra de 2px ao redor do botão ao passar o mouse */
}

.content {
  padding: 0 30px;
  text-align: justify;
  margin-top: 140px; /* A altura deve ser igual ou maior que a do chat-header para evitar sobreposição */
}

input {
  display: block;
  box-sizing: border-box;
  width: 100%;
  outline: none;
  height: 60px;
  line-height: 60px;
  border-radius: 4px;
}
input[type="text"] {
  width: 100%;
  padding: 0 0 0 10px;
  margin: 10px 0;
  color: #8a8b8e;
  border: 1px solid #c2c0ca;
  font-style: normal;
  font-size: 16px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  position: relative;
  display: inline-block;
  background: none;
}
input[type="text"]:focus {
  border-color: #6C0DBF;
}

/* --------------------------------------------------------------------------------------- */

/* ChatChamado */
.chat {
  display: flex;
  flex-direction: column;
  height: 100vh; /* Ajuste a altura do container para a altura da viewport */
  justify-content: space-between; /* Distribui o espaço entre o conteúdo e o rodapé */
}

.containerChat {
  flex: 1;
  padding: 20px;
  overflow-y: auto; /* Habilita rolagem se as mensagens excederem a altura */
  width: 50%; /* Ou a largura que deseja */
  margin: 10px auto; /* Centraliza o botão horizontalmente */
  margin-bottom: 140px; /* Espaço para a área de input e botão */
  margin-top: 120px; /* A altura deve ser igual ou maior que a do chat-header para evitar sobreposição */
}

.containerMensagem {
  display: flex;
  padding: 10px;
  margin: 20px;
  border-radius: 20px;
  background-color: #333333; /* Cor de fundo da área de entrada */
  width: 50%; /* Ou a largura que deseja */
  margin: 10px auto; /* Centraliza o botão horizontalmente */
  position: fixed; /* Fixa a área de input na parte inferior */
  bottom: 20px; /* Distância do fundo, ajuste conforme necessário para não sobrepor o footer */
  left: 0;
  right: 0;
}

.containerMensagem input {
  flex: 1;
  padding: 10px;
  margin-right: 10px;
  border: none;
  border-radius: 20px;
  height: 20px;
}

.containerMensagem button {
  background: none;
  border: none;
  color: white;
  font-size: 20px;
  padding: 5px 10px; /* Reduz o preenchimento do botão */
  margin-left: 5px; /* Adiciona espaço entre o botão e o input */
  cursor: pointer; /* Altera o cursor para indicar a possibilidade de clique */
}

/* --------------------------------------------------------------------------------------- */

/* ListaChamadas */
.containerChamada {
  display: flex; /* Adiciona display flex */
  justify-content: space-between; /* Distribui o espaço entre os elementos filhos */
  background-color: #C5AFF8;
  padding: 2px 30px;
  margin: 30px auto;
  border-radius: 20px;
  width: 50%;
  cursor: pointer;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  position: relative; /* Adiciona posição relativa para o posicionamento do botão */
}
.containerChamada:hover{
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.2);
}

.chamadaTitle{
  font-size: 30px;
  color: #333333;
}

.chamadaMensagem{
  font-size: 24px;
  color: #47335A;
}

.horaMensagem{
  font-size: 24px;
  color: #47335A; /* Cor do timestamp */
  align-self: flex-end; /* Alinha a horaMensagem à direita */
}

.btnMenu {
  font-size: 30px; /* Tamanho do ícone de hambúrguer */
  background: none;
  border: none;
  color: black;
  cursor: pointer;
  position: absolute;
  top: 30%;
  right: 30px; /* Margem direita correspondente ao padding do containerChamada */
  transform: translateY(-50%);
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.btnMenu:hover {
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.5); /* Adiciona uma sombra de 2px ao redor do botão ao passar o mouse */
}

/* --------------------------------------------------------------------------------------- */

/* VisualizarChamado */
.dadosTitle{
  font-size: 30px;
  text-align: center;
}

.dadosChamado{
  text-align: center;
}
